* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.restructure {
  padding: 84px 44px 0;
  height: 100%;
  background-color: #291c7de0;
}

.restructure .container {
  padding: 66px 38px 36px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.restructure .container h1 {
  margin-bottom: 13px;
  font-size: 26px;
  color: #5f22cb;
}

.restructure .container p {
  margin-bottom: 32px;
  font-size: 13px;
  color: #39255f;
  opacity: 0.7;
}

.restructure .container button {
  margin-bottom: 40px;
  width: 100%;
  height: 60px;
  outline: none;
  border-radius: 5px;
  border-style: none;
  background-color: #5f22cb;
  color: #fff;
  font-size: 1.125rem;
}

.restructure .container a {
  text-decoration: none;
  font-weight: 400;
  color: #f21d11;
}

.success {
  height: 100%;
  background: #5f22cb;
}

.success img {
  margin: 40px 40px 0 0;
  float: right;
}

.success__checklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.success__checklist .div1 {
  position: relative;
  height: 150px;
  width: 150px;
  top: 150px;
  margin-left: 60px;
  margin-bottom: 100px;
  -webkit-perspective: 100px;
          perspective: 100px;
}

.success__checklist .div1 .lines {
  position: absolute;
  top: 25px;
  left: 43%;
  z-index: 1000;
}

.success__checklist .div1 .lines .line01 {
  height: 6.58px;
  width: 90px;
  margin-bottom: 5.5px;
  border-radius: 90px;
  background-color: #1b3554;
  opacity: 0.3;
}

.success__checklist .div1 .lines .line02 {
  height: 6.58px;
  width: 65px;
  margin-bottom: 5.5px;
  border-radius: 90px;
  background-color: #1b3554;
  opacity: 0.3;
}

.success__checklist .div1 .lines .line03 {
  width: 27.15px;
  height: 6.58px;
  border-radius: 90px;
  background-color: #1b3554;
  opacity: 0.15;
}

.success__checklist .div2 {
  border-radius: 13.5px;
  width: 169px;
  padding: 50px;
  position: absolute;
  left: 16px;
  background-color: #ffffff;
  background: #ffffff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(15deg);
          transform: rotateY(15deg);
}

.success__checklist .div2 .g-cir {
  position: absolute;
  top: 20px;
  left: 7px;
  width: 35.14px;
  height: 37.72px;
  border-radius: 50%;
  background: #7dfba5;
}

.success__checklist .div2 .g-cir img {
  position: absolute;
  top: -27px;
  left: 8px;
}

.success__checklist .div3 {
  border-radius: 13.5px;
  width: 167px;
  height: 10px;
  padding: 40px;
  margin-top: 15px;
  position: absolute;
  background-color: #ffffff;
  background: #ffffff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(10deg);
          transform: rotateY(10deg);
}

.success__checklist .div3 .a-cir {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35.14px;
  height: 37.72px;
  border-radius: 50%;
  background: #bac2cb;
}

.success__checklist .div3 .a-cir img {
  position: absolute;
  top: -27px;
  left: 8px;
}

.success__checklist .div4,
.success__checklist .div5 {
  position: relative;
  height: 90px;
  width: 150px;
  margin-left: 60px;
  -webkit-perspective: none;
          perspective: none;
}

.success__lines {
  position: absolute;
  top: 13px;
  margin-left: 13px;
}

.success__lines .line1 {
  height: 6.58px;
  width: 95px;
  margin-bottom: 5.5px;
  border-radius: 90px;
  background-color: #1b3554;
  opacity: 0.3;
}

.success__lines .line2 {
  width: 69.93px;
  height: 6.58px;
  margin-bottom: 11.5px;
  border-radius: 90px;
  background-color: #1b3554;
  opacity: 0.3;
}

.success__lines .line3 {
  width: 27.15px;
  height: 6.58px;
  border-radius: 90px;
  background-color: #1b3554;
  opacity: 0.15;
}

.success__text {
  margin-top: 53px;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.success__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 60px;
  border: 1px solid #ffcb5b;
  background-color: transparent;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 50px;
}

.success__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  text-align: center;
  color: #ffcb5b;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */